<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ポケモン図鑑テスト</title>
</head>
<body>
  <p>ポケモンのNoを入れてみよう！</p>
  <form action="/result">
    <input type="text" name="number" id="number" />
    <input type="submit" value="検索！" />
  </form>
</body>
</html>
