<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>タイトル</title>
</head>
<body>
      <a href="http://pokemon.wikia.com/wiki/<%= @pokemon %>"><%= @pokemon %></a>
      <img src="<%= @image %>">
  </tr>
</body>
</html>
